/* Navbar styles */

.navbar {
    margin: 30px auto;
    padding: 20px 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dotted green;
}

.navbar h1{
    color: #0984e3;
    cursor: pointer;
}

.navbar h1:hover{
    color: #636e72;
}

.navbar .nav-links{
    width: 20%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}

.nav-links .link{
    margin-left: 20px;
    text-decoration: none;
}
